* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(200, 240, 200);
}

.shell {
    width: 1000px;
    margin: 0 auto;
}

.common{
    display: inline-block;
    width: 300px;
    height: 230px;
    box-shadow: -5px 5px 0px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
.box{
    position:relative;
    top: 30px;
    background-color: rgb(183, 232, 255);
    float: left;
    margin-left: 20px;
}

.dateone{
    position: absolute;
    width: 100px;
    height: 20px;
    top: 10px;
    left: 200px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgb(183, 232, 255);
    text-align: center;
    outline: none;
}
.textone {
    position: absolute;
    top: 45px;
    left: 15px;
    width: 270px;
    height: 185px;
    border-radius: 5px;
    background-color: rgb(183, 232, 255);
    border: none;
    text-indent: 2em;
    line-height: 20px;
    outline: none;
    resize: none;
} 
