* {
    padding: 0;
    margin: 0;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.box {
    width: 1300px;
    height: 350px;
    display: flex;
    flex-direction: row;
    -webkit-box-reflect: below 10px -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.5));
}

.img-box {
    width: 80px;
    height: 350px;
    overflow: hidden;
}

.img-box img {
    width: 600px;
    height: 350px;
    object-fit: cover;
    object-position: 50% 50%;
}

.img-box:hover {
    width: 800px;
    transition: 1s;
}

.audio {
    position: absolute;
    top: 30px;
    right: 30px;
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

audio {
    position: absolute;
    top: -6px;
    left: -5px;
}